/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section#banner {
  background-image: url('assets/logos/simada2.png');
  background-position: 80% 50%;
  background-size: 700px 500px;
  background-repeat: no-repeat;
}

.banner-layout {
  
  background-color: rgba(200, 200, 200, 0.5);

  height: 80%;

  padding: 8% 10% 8% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  margin-right: 50%;
}

h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
}

p {
  color: #fff;
}

.cta-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.container {
  width: 100%;
  display: block;
}

.info-container {
  margin: 2% 10% 40px 10%;
  display: flex;
  justify-content: center;
  width: 80%;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Teams */

.teams-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
  flex-wrap: wrap;
}

.team-card {
  text-align: center;
  margin-bottom: 20px;
  min-width: 200px
}

.team-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Events */

.events-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.event-card {
  border-radius: 10px;
  height: 400px;
  width: 350px;
}

.event-image-box {
  background-color: aqua;
  height: 65%;
}

.event-desc-box {
  height: 35%;
  margin: 5%;
}

/*    Loading Score     */
.pl,
.pl__worm {
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.pl {
	animation-name: bump;
	animation-timing-function: linear;
	width: 8em;
	height: 8em;
}
.pl__ring {
	stroke: hsla(var(--hue),10%,10%,0.1);
	transition: stroke 0.3s;
}
.pl__worm {
	animation-name: worm;
	animation-timing-function: cubic-bezier(0.42,0.17,0.75,0.83);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.pl__ring {
		stroke: hsla(var(--hue),10%,90%,0.1);
	}
}

/* Animations */
@keyframes bump {
	from,
	42%,
	46%,
	51%,
	55%,
	59%,
	63%,
	67%,
	71%,
	74%,
	78%,
	81%,
	85%,
	88%,
	92%,
	to { transform: translate(0,0); }
	44% { transform: translate(1.33%,6.75%); }
	53% { transform: translate(-16.67%,-0.54%); }
	61% { transform: translate(3.66%,-2.46%); }
	69% { transform: translate(-0.59%,15.27%); }
	76% { transform: translate(-1.92%,-4.68%); }
	83% { transform: translate(9.38%,0.96%); }
	90% { transform: translate(-4.55%,1.98%); }
}
@keyframes worm {
	from { stroke-dashoffset: 10; }
	25% { stroke-dashoffset: 295; }
	to { stroke-dashoffset: 1165; }
}
