/* style.css */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #17181C;
}

header {
  background-color: #17181C;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section#banner {
  height: calc(100vh - 60px);
  width: 100%;
  background-image: url('/assets/logos/simada2.png');
  background-position: 90% 50%;
  background-size: 700px 500px;
  background-repeat: no-repeat;
}

.banner-layout {
  
  background-color: rgba(200, 200, 200, 0.5);

  height: 100%;
  width: 100%;

  padding: 6% 10% 6% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-content {
  text-align: center;
  margin-right: 55%;
}

h1 {
  font-size: 220%;
  color: #000000;
  margin-bottom: 10px;
  font-family: Roboto Mono;
}

h3 {
  font-size: 175%;
  color: #000000;
  margin-bottom: 10px;
  font-family: Roboto Mono;
}

p {
  color: #000000;
  font-family: Nunito;
}

a {
  font-family: Nunito;
}

.cta-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.blue-button {
  background-color: #1C1D49;
  color: #fff;
  border-radius: 8px;
  border-color: transparent;
}

.blue-button:hover {
  background-color: #0e0e22;
  color: #fff;
}

.container {
  width: 100%;
  display: block;
}

.info-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.section-divider{
  height: 3px;
  background-color: #1c1d4b;
  margin: 3% 5% 3% 5%;
}

/* About */

.scroll-image-mask {
  min-width: 75%;
  mask-image: url(/assets/misc/image_mask.png);
  -webkit-mask-image: url(/assets/misc/image_mask.png);
}

.scroll-image-container {
  display: flex;
  transition: 0.5s;
}

.cortex-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0; 
  top: 0;
  z-index: 1;
}

.view-more {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.view-more-button {
  position: relative;
  right: 5%;
  top: 10.7%;
  color: transparent;
  background-color: transparent;

  border-radius: 8px;
  border-color: transparent;
}

.view-more-button:hover {
  background-color: rgba(0, 0, 0, 0.47);
  color: transparent;
}



.gallery-container {
  min-width: 100%;
  background-image: url(/assets/logos/placeholder.png);
  background-size: 100% 100%;
}

.gallery {
  background-color: rgba(200, 200, 200, 0.5);
  min-width: 100%;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Teams */

.teams-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.team-card {
  text-align: center;
  margin-bottom: 0 5% 20px 5%;
  min-width: 300px;
  max-width: 40%;
}

.team-card img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 10px;
}

footer {
  background-color: #1f2127;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Events */

.events-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin-top: 5%;
}

.event-card {
  border-radius: 10px;
  height: 400px;
  width: 350px;
}

.event-image-box {
  background-color: #1C1D49;
  height: 65%;
}

.event-desc-box {
  height: 35%;
  margin: 5%;
}

/* Misc */

.scroll-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}