/* style.css */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #17181C;
  width: 100%;  
  overflow-x: hidden;
}

header {
  background-color: #17181C;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.progress-div{
  margin-top: 1px;
}
.progress{
  max-width: 175px;
}

#mBots{
  max-width: 275px;
}

#uEvents{
  max-width: 315px;
}

#contactP{
  max-width: 215px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section#banner {
  height: calc(100vh - 60px);
  width: 100%;
  background-color: #0000008c;
}

.banner-layout {
  height: 100%;
  width: 100%;

  background-image: url('/assets/logos/Shimada_offwhite_text.png');
  background-position: 100%  -1750%;
  background-size: 866px  650px;
  background-repeat: no-repeat;

  padding: 6% 10% 6% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-content {
  text-align: center;
  margin-right: 55%;
}

h1 {
  font-size: 220%;
  color: #eee;
  font-family: Roboto Mono;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.Dot-Group{
  position: relative;
  top: 10vh;
}

.active, .dot:hover {
  background-color: #5e5d5d;
}

h3 {
  font-size: 175%;
  color: #eee;
  margin-bottom: 10px;
  font-family: Roboto Mono;
}

h4 {
  font-size: 150%;
  color: #eee;
  font-family: Roboto Mono;
}

h5 {
  font-size: 125%;
  color: #eee;
  font-family: Roboto Mono;
}

p {
  color: #eee;
  font-family: Nunito;
}

a {
  font-family: Nunito;
}

.cta-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.blue-button {
  background-color: #25C7F4;
  color: #17181C;
  border-radius: 8px;
  border-color: transparent;
}

.blue-button:hover {
  background-color: #1b8dac;
  color: #17181C;
  border-color: #1C1D49;
}

.container {
  width: 100%;
  display: block;
}

.info-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.section-divider{
  height: 3px;
  background-color: #333;
  margin: 3% 5% 3% 5%;
}

/* About */

.scroll-image-mask {
  min-width: 75%;
  mask-image: url(/assets/misc/image_mask.png);
  -webkit-mask-image: url(/assets/misc/image_mask.png);
}

.scroll-image-container {
  display: flex;
  transition: 0.5s;
}

.cortex-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0; 
  top: 0;
  z-index: 1;
}

.view-more {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.view-more-button {
  position: relative;
  right: 5%;
  top: 6.8%;
  color: transparent;
  background-color: transparent;

  border-radius: 8px;
  border-color: transparent;
}

.view-more-button:hover {
  background-color: rgba(0, 0, 0, 0.47);
  color: transparent;
}

#left-image-button, #right-image-button {
  transition: 0.2s;
}

#left-image-button:hover, #right-image-button:hover {
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  transform: translateY(-3px);
}



.gallery-container {
  min-width: 100%;
  background-image: url(/assets/logos/placeholder.png);
  background-size: 100% 100%;
}

.gallery {
  background-color: rgba(200, 200, 200, 0.5);
  min-width: 100%;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Teams */

.teams-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.team-card {
  text-align: center;
  margin-bottom: 0 5% 20px 5%;
  min-width: 300px;
  max-width: 40%;
  margin-bottom: 5%
}

.team-card img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 10px;
}

footer {
  background-color: #25272f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Events */

.events-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin-top: 5%;
}

.event-card {
  border-radius: 10px;
  height: 400px;
  width: 350px;
}

.event-image-box {
  background-color: #1C1D49;
  height: 65%;
}

.event-desc-box {
  height: 35%;
  margin: 5%;
}

/* Contact */
.contact-input {
  background-color: #25272f;
  border-color: #25272f;
  color: #fff;
}

.contact-input::placeholder {
  color: #777;
}

/* Misc */

.scroll-button-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.scroll-button {
  z-index: 1;
  transition: 0s;
}

.scroll-button:hover {
  transition: 0.25s;
  transform: rotate(90deg);
}

.progress.is-highlight::-webkit-progress-value {
  background-color: #25C7F4;
}