/* style.css */
html {
  scroll-behavior: smooth;

  --bg-color-dark: #17181C;
  --bg-color-light: #E3E4E8;
  --light-text: #eee;
  --accent-light-blue: #25C7F4;
  --accent-dark-blue: #1C1D49;
  --dark-gray: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--dark-gray);
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section#banner {
  background-image: url('/assets/logos/simada2.png');
  background-position: 80% 50%;
  background-size: 700px 500px;
  background-repeat: no-repeat;
}

.banner-layout {
  
  background-color: rgba(200, 200, 200, 0.5);

  height: 80%;

  padding: 8% 10% 8% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  margin-right: 50%;
}

h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
}

p {
  color: #fff;
}

.cta-button {
  display: inline-block;
  background-color: var(--dark-gray);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.container {
  width: 100%;
  display: block;
}

.info-container {
  margin: 2% 10% 40px 10%;
  display: flex;
  justify-content: center;
  width: 80%;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

section h3{
  font-size: 175%;
  margin-bottom: 20px;
}

.section-divider{
  height: 2px;
  background-color: var(--dark-gray);
  margin: 4% 5% 4% 5%;
}

/* Teams */

.teams-section {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

.team1 {
  min-width: 95%;
  height: 100vh;
  background-color: var(--bg-color-dark);
}

.switch-light {
  min-width: 5%;
  height: 100vh;
  background-color: var(--bg-color-light);
}

.switch-dark {
  min-width: 5%;
  height: 100vh;
  background-color: var(--bg-color-dark);
}

.team2 {
  min-width: 95%;
  height: 100vh;
  background-color: var(--bg-color-light);
}