/* style.css */
html {
  scroll-behavior: smooth;

  --bg-color-dark: #17181C;
  --bg-color-light: #E3E4E8;
  --light-text: #eee;
  --accent-light-blue: #4F6CD3;
  --accent-dark-blue: #1C1D49;
  --dark-gray: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-dark);
  width: 100%;  
  overflow: hidden;
  position: absolute;
}

header {
  background-color: var(--bg-color-dark);
  color: #fff;
  padding: 20px;
}

.header-divider {
  background-color: var(--dark-gray);
  height: 2px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.progress-div{
  margin-top: 1px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section#banner {
  background-image: url('/assets/logos/simada2.png');
  background-position: 80% 50%;
  background-size: 700px 500px;
  background-repeat: no-repeat;
}

.banner-layout {
  
  background-color: rgba(200, 200, 200, 0.5);

  height: 80%;

  padding: 8% 10% 8% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  margin-right: 50%;
}

p {
  color: var(--light-text);
  font-family: Nunito;
}

.cta-button {
  display: inline-block;
  background-color: var(--dark-gray);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.container {
  width: 100%;
  display: block;
}

.info-container {
  margin: 2% 10% 40px 10%;
  display: flex;
  justify-content: center;
  width: 80%;
}

section h1{
  color: var(--light-text);
  font-size: 220%;
  font-family: Roboto Mono;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

section h3{
  font-size: 175%;
  margin-bottom: 20px;
  color: var(--light-text);
  font-family: Roboto Mono;
  font-weight: bold;
}

h4 {
  font-size: 150%;
  color: var(--light-text);
  font-family: Roboto Mono;
}

.section-divider{
  height: 2px;
  background-color: var(--accent-dark-blue);
  margin: 4% 5% 4% 5%;
}

.progress.is-highlight::-webkit-progress-value {
  background-color: var(--accent-light-blue);
}

footer {
  background-color: #25272f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Teams */

.teams-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Chief Officers */

.chief-officers {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
  margin-top: 17%;
  position: relative;
}

.co-backdrop {
  background-color: var(--bg-color-dark);
  width: 84%;
  aspect-ratio: 5/3;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.co-window {
  background-color: #353535;
  width: 90%;
  height: 85%;
  border-radius: 20px;
  overflow: hidden;
}

.co-rotate {
  display: flex;
  transition: 0.8s cubic-bezier(.72,1.41,.59,.94);
  transform-origin: 50% 200%;

  height: 100%;
  width: 100%;
}

.character-card {
  display: flex;
  padding: 7% 2%;
  min-width: 100%;
  position: relative;
}

.co-image-section {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.co-image {
  width: 75%;
  aspect-ratio: 6/5;
  border-radius: 10px;
  margin-bottom: 5%;
  object-fit: cover;
  
  outline: 3px solid var(--light-text);
  outline-offset: 6px;
}

#large-gear {
  position: absolute;
  top: auto;
  min-width: max(140%, 1000px);
  transition: 0.8s cubic-bezier(.72,1.41,.59,.94);
  user-select: none;
}

/* Assistant Officers */

.assistant-officers {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
  margin-top: 11.5%;
  position: relative;
}

.small-gear {
  position: relative;
  min-width: max(60%, 430px);
  transition: 0.8s cubic-bezier(.72,1.41,.59,.94);
  user-select: none;
}

/* Directors */

.directors {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
  margin-top: 15%;
  position: relative;
}

.conveyer-belt {
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: #33333399;
  margin-top: 98%;
}

#directors-slider {
  transition: 0.8s ease;
  display: flex;
  gap: 20%;
}

.directors-card {
  display: flex;
  padding: 7% 2%;
  min-width: 100%;
  position: relative;
}

/* Dots and buttons */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.Dot-Group{
  position: relative;
  top: 3vh;
}

.active, .dot:hover {
  background-color: #5e5d5d;
}


.left-button, .right-button {
  transition: 0.2s;
}

.left-button:hover, .right-button:hover {
  transform: translateY(-3px);
}

.left-button:active, .right-button:active {
  transition: 0.1s;
  transform: translateY(1px);
}