/* style.css */
html {
  scroll-behavior: smooth;

  --bg-color-dark: #17181C;
  --light-text: #eee;
  --accent-light-blue: #25C7F4;
  --accent-dark-blue: #1C1D49;
  --dark-gray: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-dark);
  width: 100%;  
  overflow-x: hidden;
}

header {
  background-color: var(--bg-color-dark);
  color: #fff;
  padding: 20px;
}

.header-divider {
  background-color: var(--dark-gray);
  height: 2px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.progress-div{
  margin-top: 1px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section#banner {
  background-image: url('/assets/logos/simada2.png');
  background-position: 80% 50%;
  background-size: 700px 500px;
  background-repeat: no-repeat;
}

.banner-layout {
  
  background-color: rgba(200, 200, 200, 0.5);

  height: 80%;

  padding: 8% 10% 8% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  margin-right: 50%;
}

p {
  color: var(--light-text);
  font-family: Nunito;
}

.cta-button {
  display: inline-block;
  background-color: var(--dark-gray);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.container {
  width: 100%;
  display: block;
}

.info-container {
  margin: 2% 10% 40px 10%;
  display: flex;
  justify-content: center;
  width: 80%;
}

section h1{
  color: var(--light-text);
  font-size: 220%;
  font-family: Roboto Mono;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

section h3{
  font-size: 175%;
  margin-bottom: 20px;
  color: var(--light-text);
  font-family: Roboto Mono;
}

.section-divider{
  height: 2px;
  background-color: var(--accent-dark-blue);
  margin: 4% 5% 4% 5%;
}

.progress.is-highlight::-webkit-progress-value {
  background-color: var(--accent-light-blue);
}

/* Teams */

.teams-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.chief-officers {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  margin-top: 15%;
  position: relative;
}